<footer class="container-fluid bg-dark text-white pt-3">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h3>OVER ONS</h3>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime explicabo necessitatibus optio, alias
                est, natus iusto accusantium ad soluta non quisquam sequi architecto nihil quia? Doloribus laboriosam
                neque ratione doloremque.</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <h3>KLANTENSERVICE</h3>
            <hr>
            <ul>
                <li><a href="#">Veelgestelde vragen</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">info</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <h3>Inlogin</h3>
            <hr>
        </div>
    </div>
    <div class="text-center border-top pt-2">
        <h4>&copy; CODEGORILLA GROUP1-B </h4>
    </div>
</footer>