<!-- Tahani -->
<footer class="container-fluid bg-dark text-white pt-3 mt-auto">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h3>OVER ONS</h3>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime explicabo necessitatibus optio, alias
                est, natus iusto accusantium ad soluta non quisquam sequi architecto nihil quia? Doloribus laboriosam
                neque ratione doloremque.</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <h3>KLANTENSERVICE</h3>
            <hr>
            <ul>
                <li><a href="#">Veelgestelde vragen</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">info</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <h5>Inloggen</h5>
            <hr>
            <button class="btn btn-outline-primary"><a href="/register">Registreren</a></button>
            <button class="btn btn-primary"><a href="/login">Inloggen</a></button>
        </div>
    </div>
    <div class="text-center border-top pt-2">
        <h4>&copy; CODEGORILLA GROUP1-B </h4>
    </div>
</footer>