<!-- Tahani -->
<% layout('layouts/boilerplate') %>
<!--- Image Slider -->
<div id="slides" class="carousel slide m-3" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img
                src="https://images.unsplash.com/photo-1576014131795-d440191a8e8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80">
            <div class="carousel-caption">
                <div class="carousel-caption">
                    <h1 class="display-2">Samen tijdens corona</h1>
                    <h3>We helpen elkaar tegen corona</h3>
                    <button class="btn btn-outline-light btn-lg"><a href="/stc/vraag">Hulpvraag</a></button>
                    <button class="btn btn-primary btn-lg"><a href="/stc/aanbod">Hulpaanbod</a></button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img
                src="https://images.unsplash.com/photo-1536825919521-ab78da56193b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
        </div>
        <div class="carousel-item">
            <img
                src="https://images.unsplash.com/photo-1583947582886-f40ec95dd752?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
        </div>
    </div>
</div>
<!--- End Image Slider -->

<div class="row">
    <div class="col-6">
        <h2>Samen tijdens corona</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maxime ad voluptas porro totam tenetur provident
            voluptatum possimus cum, doloribus illo eum fugiat autem earum deserunt cupiditate dolor temporibus facilis?
        </p>
        <h3>Het Doel</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maxime ad voluptas porro totam tenetur
                provident voluptatum possimus cum, doloribus illo eum fugiat autem earum deserunt cupiditate dolor
                temporibus facilis?
            </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maxime ad voluptas porro totam tenetur
                provident voluptatum possimus cum, doloribus illo eum fugiat autem earum deserunt cupiditate dolor
                temporibus facilis?
            </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maxime ad voluptas porro totam tenetur
                provident voluptatum possimus cum, doloribus illo eum fugiat autem earum deserunt cupiditate dolor
                temporibus facilis?
            </li>
        </ul>
    </div>
    <div class="col-6">
        <img src="https://images.unsplash.com/photo-1527525443983-6e60c75fff46?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=632&q=80"
            alt="">
    </div>
</div>
<div class="row m-3">
    <div class="col-xs-12 col-md-6">
        <div class="card shadow">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hulpvraag</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Hulp bij boodschappen</li>
                <li class="list-group-item">Hulp bij ....</li>
                <li class="list-group-item">Hulp bij ....</li>
            </ul>
            <div class="card-body">
                <a href="/stc/vraag" class="card-link">Vragen voor hulp</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="card shadow">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hulpaanbod</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Hulp bij boodschappen</li>
                <li class="list-group-item">Hulp bij ....</li>
                <li class="list-group-item">Hulp bij ....</li>
            </ul>
            <div class="card-body">
                <a href="/stc/aanbod" class="card-link">Hulp aanbieden</a>
            </div>
        </div>
    </div>
</div>